@use '../../variables/borders';
@use '../../variables/colours';

// LLYW.CYMRU | GOV.WALES
// Mixins: Border
// ========================================

@mixin gw-mixin-border(
  $border-position: null,
  $border-style: borders.$gw-border-style,
  $border-color: colours.$gw-colour-border-grey,
  $border-width: borders.$gw-border-height-small
) {
  @if ($border-position) {
    border-#{$border-position}: $border-style $border-width $border-color;
  } @else {
    border: $border-style $border-width $border-color;
  }
}
