// LLYW.CYMRU | GOV.WALES
// Mixins: Focus
// ========================================

@use '../../variables/variables' as *;

@mixin gw-mixin-focused-text() {
  color: $gw-colour-focus-text !important;
  background-color: $gw-colour-focus-background;
  box-shadow:
    0 -3px $gw-colour-focus-background,
    0 4px $gw-colour-focus-border;
  text-decoration: none;
  outline-width: 3px;
  outline-style: solid;
  // Outlines must be present to meet accessibility standards tests.
  // Visually they are moved away form the screen.
  // Box-shadow provides the outline contrast.
  outline-color: $gw-colour-focus-border;
  outline-offset: 9999px;
  // Apply box shadow to each fragment independently for breaks.
  box-decoration-break: clone;
}

@mixin gw-mixin-focused-btn() {
  color: $gw-colour-focus-text !important;
  background-color: $gw-colour-focus-background !important;
  border-color: transparent;
  text-decoration: none;
  outline: 3px solid $gw-colour-focus-border;
  outline-offset: 0;
  box-shadow: 0 0 0 2px $gw-colour-focus-background;
}

@mixin gw-mixin-focused-input() {
  border-color: $gw-colour-focus-border;
  text-decoration: none;
  outline: 2px solid $gw-colour-focus-background;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px $gw-colour-focus-border;
}
