// LLYW.CYMRU | GOV.WALES
// Mixins: Media query
// ========================================

@use 'sass:map';
@use '../../variables/variables' as *;

@mixin gw-mixin-media-query($breakpoint) {
  $media-query: $gw-media-breakpoints;

  @if $breakpoint == 'print' or $breakpoint == 'screen' {
    $media-query: $gw-media-generic;
  }

  // validate param.

  @if not map.has-key($media-query, $breakpoint) {
    @error 'Breakpoint "#{$media-query}" not defined.';
  }

  $condition: map.get($media-query, $breakpoint);

  @media #{$condition} {
    @content;
  }
}
