@use '../../variables/colours';
@use '../../variables/font';
@use '../../variables/font-sizes';
@use 'typography';

// LLYW.CYMRU | GOV.WALES
// Mixins: Subheading
// ========================================

@mixin gw-mixin-subheading(
  $subheading-colour: colours.$gw-colour-subheading-grey
) {
  color: $subheading-colour;
  text-transform: uppercase;
  font-weight: font.$gw-font-weight-bold;

  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-subheading,
    font.$gw-line-height
  );
  @include typography.gw-mixin-letter-spacing(
    font-sizes.$gw-font-size-breadcrumb,
    font.$gw-letter-spacing-wide
  );
}
