// LLYW.CYMRU | GOV.WALES
// Mixins: Subheading
// ========================================

@use '../../variables/variables' as *;
@use 'typography' as *;

@mixin gw-mixin-subheading($subheading-colour: $gw-colour-subheading-grey) {
  color: $subheading-colour;
  text-transform: uppercase;
  font-weight: $gw-font-weight-bold;

  @include gw-mixin-font-size($gw-font-size-subheading, $gw-line-height);
  @include gw-mixin-letter-spacing(
    $gw-font-size-breadcrumb,
    $gw-letter-spacing-wide
  );
}
