// LLYW.CYMRU | GOV.WALES
// ========================================
// Mixins: Typography

@use '../../variables/variables' as *;
@use '../functions' as *;

@mixin gw-mixin-font-size($size, $line-height) {
  font-size: gw-function--px-to-rem($size);

  @if ($line-height) {
    line-height: gw-function--line-height($size, $line-height);
  }
}

@mixin gw-mixin-letter-spacing($font-size, $percentage) {
  $font-size: gw-function--strip-unit($font-size); // Font-size.
  $base-font-size: gw-function--strip-unit($gw-font-size); // 16px = 1%.
  letter-spacing: gw-function--kerning(
    $base-font-size,
    $font-size,
    $percentage
  );
}
