// LLYW.CYMRU | GOV.WALES
// Settings: Spacing
// ========================================

// The following variables are imported via the Figma GOV.WALES GEL design system
// https://www.figma.com/design/gSjBKhHQXOlqTNlF6yENPD/GOV.WALES-GEL-design-system?m=auto&t=kTWURVPMN71HFM8R-1
// Variables are exported via Figma using the advance Variable Export [AVE] plugin.
// https://www.figma.com/community/plugin/1260472771849439434

// 5px spacing system
$gw-spacing-01: 5px;
$gw-spacing-02: 10px;
$gw-spacing-03: 15px;
$gw-spacing-04: 20px;
$gw-spacing-05: 25px;
$gw-spacing-06: 30px;
$gw-spacing-07: 35px;
$gw-spacing-08: 40px;
$gw-spacing-09: 45px;
$gw-spacing-10: 60px;
$gw-spacing-11: 65px; //// Included but no used.
$gw-spacing-12: 70px;
$gw-spacing-13: 75px; //// Included but no used.
$gw-spacing-14: 80px; //// Included but no used.
