// LLYW.CYMRU | GOV.WALES
// Settings: Borders
// ========================================

$gw-border-style: solid;
$gw-border-height-small: 1px;
$gw-border-height-medium: 2px;
$gw-border-height-large: 3px;
$gw-border-width-small: 1px;
$gw-border-width-medium: 3px;
$gw-border-width-large: 10px;
$gw-border-position-all: all;
$gw-border-position-top: top;
$gw-border-position-right: right;
$gw-border-position-left: left;
$gw-border-position-bottom: bottom;
