// LLYW.CYMRU | GOV.WALES
// Components: Link: Social media
// ========================================

@use 'sass:map';
@use '../../../scss/helpers/mixins/focus';
@use '../../../scss/helpers/mixins/social-media-link';
@use '../../../scss/helpers/mixins/transitions';
@use '../../../scss/variables/spacing';
@use '../../../scss/variables/transition';
@use '../../../scss/variables/ui-images';

// Specific variables.
$social-media-list: 'facebook' 'instagram' 'x' 'linkedin' 'pinterest' 'youtube'
  'flickr' 'email' 'newsletter';

// Class: 'gw-social-media-link'.
.gw-social-media-link {
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  cursor: pointer;
  @include transitions.gw-mixin-transitions(
    transition.$gw-transition-out-time,
    color
  );
  padding-top: spacing.$gw-spacing-03;
  padding-bottom: spacing.$gw-spacing-03;
  padding-left: 50px; //FIXME: Need a variable for this value
  padding-right: spacing.$gw-spacing-02;

  // Class: 'gw-social-media-link--sm'.
  &--sm {
    background-position: left 5px center;
    padding-top: spacing.$gw-spacing-01;
    padding-bottom: spacing.$gw-spacing-01;
    padding-left: spacing.$gw-spacing-06;
    padding-right: spacing.$gw-spacing-01;
    background-size: 20px;
  }

  // Class: 'gw-social-media-link--icon-only'.
  &--icon-only {
    height: 50px;
    width: 50px;
    padding-left: 0;

    &.gw-social-media-link--sm {
      height: 30px;
      width: 30px;
    }
  }

  &:hover {
    @include transitions.gw-mixin-transitions(
      transition.$gw-transition-in-time,
      color
    );
  }

  &:focus {
    @include focus.gw-mixin-focused-btn;
  }

  @each $platform in $social-media-list {
    // Class: 'gw-social-media-link--#{platform}'.
    &--#{$platform} {
      @include social-media-link.gw-mixin-social-media-svg(
        $platform-ui-icon: map.get(ui-images.$gw-ui-social-media, $platform)
      );
    }
  }
}
