// LLYW.CYMRU | GOV.WALES
// Components: Link: Social media
// ========================================

@use 'sass:map';
@use '../../../scss/variables/variables' as *;
@use '../../../scss/helpers/mixins' as *;

// Specific variables.
$social-media-list: 'facebook' 'instagram' 'x' 'linkedin' 'pinterest' 'youtube'
  'flickr' 'email' 'newsletter';

// Class: 'gw-social-media-link'.
.gw-social-media-link {
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  cursor: pointer;
  @include gw-mixin-transitions($gw-transition-out-time, color);
  padding-top: $gw-spacing-03;
  padding-bottom: $gw-spacing-03;
  padding-left: 50px; //FIXME: Need a variable for this value
  padding-right: $gw-spacing-02;

  // Class: 'gw-social-media-link--sm'.
  &--sm {
    background-position: left 5px center;
    padding-top: $gw-spacing-01;
    padding-bottom: $gw-spacing-01;
    padding-left: $gw-spacing-06;
    padding-right: $gw-spacing-01;
    background-size: 20px;
  }

  // Class: 'gw-social-media-link--icon-only'.
  &--icon-only {
    height: 50px;
    width: 50px;
    padding-left: 0;

    &.gw-social-media-link--sm {
      height: 30px;
      width: 30px;
    }
  }

  &:hover {
    @include gw-mixin-transitions($gw-transition-in-time, color);
  }

  &:focus {
    @include gw-mixin-focused-btn;
  }

  @each $platform in $social-media-list {
    // Class: 'gw-social-media-link--#{platform}'.
    &--#{$platform} {
      @include gw-mixin-social-media-svg(
        $platform-ui-icon: map.get($gw-ui-social-media, $platform)
      );
    }
  }
}
