// LLYW.CYMRU | GOV.WALES
// Print
// ========================================

@use '../variables/variables' as *;
@use '../helpers/mixins' as *;

// Specific variables.
$gw-print-size: A4;
$gw-print-margin: 2.5cm 2cm 4cm 2cm;
$gw-print-margin--cover: 0cm 2cm 4cm 2cm;
$gw-print-padding: 0;

@include gw-mixin-media-query(print) {
  body {
    color: $gw-colour-print-default;
  }

  .gw-none-print {
    display: none !important;
  }

  .gw-print-only {
    display: block !important;
  }

  // Print page break.
  .gw-page-break {
    page-break-before: always;
  }

  // Page layout
  // PDF's by default are rendered at 96 dpi.
  @page {
    size: $gw-print-size;
    margin: $gw-print-margin;
    padding: $gw-print-padding;
    font-family: $gw-font-family-primary;
  }

  // Cover page margins to allow for the print logo.
  @page :first {
    margin: $gw-print-margin--cover;
  }
}
