// LLYW.CYMRU | GOV.WALES
// Components: Site utilities
// ========================================

@use '../../scss/global/helpers/mixins/inline-svg';
@use '../../scss/global/variables/colours';
@use '../../scss/global/variables/spacing';
@use '../../scss/global/variables/ui-images';

// Specific variables.
$gw-site-utilities-background: colours.$gw-colour-grey-6;

// Class: 'gw-site-utilities'.
.gw-site-utilities {
  background-color: $gw-site-utilities-background;
  padding-top: spacing.$gw-spacing-03;
  padding-bottom: spacing.$gw-spacing-01;

  // Class: 'gw-site-utilities__share-this-page'.
  &__share-this-page {
    display: inline-block;
    margin-right: spacing.$gw-spacing-04;
    margin-bottom: spacing.$gw-spacing-02;
  }

  // Class: 'gw-site-utilities__back-to-top'.
  &__back-to-top {
    display: inline-block;
    margin-bottom: spacing.$gw-spacing-02;

    $gw-colour-btn-back-to-top-border: colours.$gw-colour-grey-2;
    $gw-font-size-back-to-top: 16px;
    $gw-line-height-back-to-top: 20px;

    .gw-btn--secondary {
      background-position: left 10px center;
      background-size: 15px;
      background-color: colours.$gw-colour-grey-6;
      border-color: colours.$gw-colour-grey-2;
      padding: spacing.$gw-spacing-02 spacing.$gw-spacing-04
        spacing.$gw-spacing-02 spacing.$gw-spacing-07;

      &:hover {
        background-color: colours.$gw-colour-grey-4;
        color: colours.$gw-colour-black;
        @include inline-svg.gw-mixin-background-svg(
          ui-images.$gw-ui-chevron-up,
          colours.$gw-colour-black
        );
      }
    }
  }
}
