// LLYW.CYMRU | GOV.WALES
// Settings: Colours
// ========================================

// The following variables are imported via the Figma GOV.WALES GEL design system
// https://www.figma.com/design/gSjBKhHQXOlqTNlF6yENPD/GOV.WALES-GEL-design-system?m=auto&t=kTWURVPMN71HFM8R-1
// Variables are exported via Figma using the advance Variable Export [AVE] plugin.
// https://www.figma.com/community/plugin/1260472771849439434

$gw-colour-grey-6: #e5e5e5ff;
$gw-colour-black: #1f1f1fff;
$gw-colour-black-1: #000000ff;
$gw-colour-white: #ffffffff;
$gw-colour-grey: #323232ff;
$gw-colour-grey-1: #666666ff;
$gw-colour-grey-2: #999999ff;
$gw-colour-grey-3: #b5b5b5ff;
$gw-colour-grey-4: #ccccccff;
$gw-colour-grey-5: #ddddddff;
$gw-colour-grey-7: #eeeeeeff;
$gw-colour-grey-8: #f1f1f1ff;
$gw-colour-red: #aa1111ff;
$gw-colour-red-1: #7e0a0eff;
$gw-colour-red-2: #d81f1fff;
$gw-colour-red-3: #db7777ff;
$gw-colour-red-4: #fea8a9ff;
$gw-colour-red-5: #ffe4e5ff;
$gw-colour-blue: #0360a6ff;
$gw-colour-blue-1: #1f446dff;
$gw-colour-blue-2: #3b7dc5ff;
$gw-colour-blue-3: #4c93ffff;
$gw-colour-blue-4: #87c3ffff;
$gw-colour-blue-5: #c2e0fcff;
$gw-colour-green: #019e1eff;
$gw-colour-green-1: #3b510dff;
$gw-colour-green-2: #01b723ff;
$gw-colour-green-3: #cdf7d4ff;
$gw-colour-purple: #722c53ff;
$gw-colour-purple-1: #632a5dff;
$gw-colour-purple-2: #a82b71ff;
$gw-colour-orange: #ff8000ff;
$gw-colour-orange-1: #ffdab5ff;
$gw-colour-yellow: #ffd530ff;
$gw-colour-yellow-1: #ffea7bff;
$gw-colour-yellow-2: #fff5ceff;
$gw-colour-grey-9: #949494ff;

/* Aliases  */
$gw-colour-link-default: $gw-colour-blue;
$gw-colour-link-hover: $gw-colour-blue-2;
$gw-colour-breadcrumb-current-link: $gw-colour-grey-1;
$gw-colour-breadcrumb-current-link-hover: $gw-colour-grey-1;
$gw-colour-breadcrumb-pointer: $gw-colour-grey-2;
$gw-colour-border-grey: $gw-colour-grey-6;
$gw-colour-border-blue: $gw-colour-blue;
$gw-colour-background-grey: $gw-colour-grey-7;
$gw-colour-btn-background: $gw-colour-white;
$gw-colour-btn-background-hover: $gw-colour-blue;
$gw-colour-btn-border: $gw-colour-blue;
$gw-colour-btn-text: $gw-colour-blue;
$gw-colour-btn-text-hover: $gw-colour-white;
$gw-colour-callout-warning-icon: $gw-colour-blue;
$gw-colour-callout-alert-background: $gw-colour-red-5;
$gw-colour-callout-alert-border: $gw-colour-red;
$gw-colour-callout-positive-background: $gw-colour-green-3;
$gw-colour-callout-positive-border: $gw-colour-green;
$gw-colour-focus-black: $gw-colour-black;
$gw-colour-focus-yellow: $gw-colour-yellow;
$gw-colour-focus-text: $gw-colour-focus-black;
$gw-colour-focus-background: $gw-colour-focus-yellow;
$gw-colour-focus-border: $gw-colour-focus-black;
$gw-colour-focus-ui: $gw-colour-focus-black;
$gw-colour-error-message-background: $gw-colour-red-5;
$gw-colour-error-message-border: $gw-colour-red;
$gw-colour-base-text: $gw-colour-black;
$gw-colour-hint-text: $gw-colour-grey-1;
$gw-colour-subheading-grey: $gw-colour-grey-1;
$gw-colour-subheading-red: $gw-colour-red;
$gw-colour-subheading-whiteblue: $gw-colour-blue-5;
$gw-colour-callout-alert-icon: $gw-colour-red;
$gw-colour-callout-warning-background: $gw-colour-grey-7;
$gw-colour-callout-warning-border: $gw-colour-blue;
$gw-colour-callout-border: $gw-colour-blue;
$gw-colour-callout-background: $gw-colour-grey-7;
$gw-colour-input-background: $gw-colour-white;
$gw-colour-input-border: $gw-colour-grey-1;
$gw-colour-input-value: $gw-colour-black;
$gw-colour-input-placeholder: $gw-colour-grey-1;
$gw-colour-label-black: $gw-colour-black;
$gw-colour-description-text: $gw-colour-black;
$gw-colour-legend-black: $gw-colour-black;
$gw-colour-error-message-text: $gw-colour-black;
$gw-colour-layout-footer-background: $gw-colour-grey-7;
$gw-colour-layout-header-background: $gw-colour-grey;
$gw-colour-layout-body-background: $gw-colour-white;
$gw-colour-layout-html-background: $gw-colour-grey-7;
$gw-colour-meta-grey: $gw-colour-grey-1;
$gw-colour-meta-white: $gw-colour-white;
$gw-colour-pagination-label: $gw-colour-black;
$gw-colour-input-disabled: $gw-colour-grey-9;
$gw-colour-label-white: $gw-colour-white;
$gw-colour-print-default: $gw-colour-black-1;
$gw-colour-table-border: $gw-colour-grey-6;
