// LLYW.CYMRU | GOV.WALES
// Settings: Typography: Font-sizes
// ========================================

// The following variables are imported via the Figma GOV.WALES GEL design system
// https://www.figma.com/design/gSjBKhHQXOlqTNlF6yENPD/GOV.WALES-GEL-design-system?m=auto&t=kTWURVPMN71HFM8R-1
// Variables are exported via Figma using the advance Variable Export [AVE] plugin.
// https://www.figma.com/community/plugin/1260472771849439434

$gw-font-size-h1: 34px;
$gw-font-size-h1-md: 48px;
$gw-font-size-h2: 28px;
$gw-font-size-h2-md: 36px;
$gw-font-size-h3: 24px;
$gw-font-size-h4: 20px;
$gw-font-size-h5: 18px;
$gw-font-size-h6: 14px;
$gw-font-size-h3-md: 28px;
$gw-font-size-h4-md: 24px;
$gw-font-size-h5-md: 22px;
$gw-font-size-h6-md: 18px;
$gw-font-size-subheading: 14px;
$gw-font-size-hint: 14px;
$gw-font-size-description: 16px;
$gw-font-size-legend: 24px;
$gw-font-size-legend-md: 28px;
$gw-font-size-input: 16px;
$gw-font-size-label: 20px;
$gw-font-size-label-large-md: 28px;
$gw-font-size-label-large: 24px;
$gw-font-size-paragraph: 18px;
$gw-font-size-meta: 14px;
$gw-font-size-input-large: 18px;
$gw-font-size-button: 16px;
$gw-font-size-button-small: 14px;
$gw-font-size-button-large: 20px;
$gw-font-size-button-cta: 28px;
$gw-font-size-button-cta-large: 32px;
$gw-font-size-card-title: 20px;
$gw-font-size-card-title-md: 24px;
$gw-font-size-card-description: 16px;
$gw-font-size-callout: 18px;
$gw-font-size-callout-small: 16px;
$gw-font-size-error: 18px;
$gw-font-size-pagination-title: 20px;
$gw-font-size-pagination-label: 14px;
$gw-font-size-pagination-title-md: 26px;
$gw-font-size-pagination-label-md: 16px;
$gw-font-size-paragraph-small: 16px;
$gw-font-size-list: 18px;
$gw-font-size-btn-hide: 14px;
$gw-font-size-print-url: 14px;
$gw-font-size-breadcrumb: 16px;
