@use '../helpers/functions/fonts';
@use '../variables/colours';
@use '../variables/font';

// LLYW.CYMRU | GOV.WALES
// Body
// ========================================

body {
  background: colours.$gw-colour-layout-body-background;
  color: colours.$gw-colour-base-text;
  font-family: font.$gw-font-family-primary;
  font-size: fonts.gw-function--px-to-rem(font.$gw-font-size);
  font-style: font.$gw-font-style;
  font-weight: font.$gw-font-weight-normal;
  -webkit-font-smoothing: font.$gw-font-smoothing;
  line-height: font.$gw-line-height;
  margin: 0;
  text-rendering: font.$gw-font-rendering;
  letter-spacing: font.$gw-letter-spacing;
}
