// LLYW.CYMRU | GOV.WALES
// Form
// ========================================

@use '../variables/variables' as *;
@use '../helpers/mixins' as *;

// Class: 'gw-form'.
.gw-form {
  position: relative;

  // Class: 'gw-form__row'.
  &__row {
    margin-bottom: $gw-spacing-06;
  }
}

// Class: 'gw-label'.
.gw-label {
  @include gw-mixin-font-size($gw-font-size-label, $gw-line-height);
  @include gw-mixin-letter-spacing(
    $gw-font-size-label,
    $gw-letter-spacing-tight
  );
  color: $gw-colour-label-black;
  display: block;
  font-weight: $gw-font-weight-bold;
  margin-bottom: $gw-spacing-03;

  // Class: 'gw-label--lg'.
  &--lg {
    @include gw-mixin-font-size($gw-font-size-label-large, $gw-line-height);
    @include gw-mixin-letter-spacing(
      $gw-font-size-label-large,
      $gw-letter-spacing-tight
    );

    @include gw-mixin-media-query(md) {
      @include gw-mixin-font-size(
        $gw-font-size-label-large-md,
        $gw-line-height-headings
      );
      @include gw-mixin-letter-spacing(
        $gw-font-size-label-large-md,
        $gw-letter-spacing-tight
      );
    }
  }
}

// Class: 'gw-description'.
.gw-description {
  @include gw-mixin-font-size($gw-font-size-description, $gw-line-height);
  color: $gw-colour-description-text;
  margin-bottom: $gw-spacing-03;
}

// Class: 'gw-hint'.
.gw-hint {
  @include gw-mixin-font-size($gw-font-size-hint, $gw-line-height);
  color: $gw-colour-hint-text;
  margin-bottom: $gw-spacing-03;
}
