// LLYW.CYMRU | GOV.WALES
// Index list
// ========================================

@use '../variables/variables' as *;

.gw-index-list {
  margin-top: $gw-spacing-04;
  margin-bottom: $gw-spacing-10;
  display: inline-block;
}
