// LLYW.CYMRU | GOV.WALES
// Input
// ========================================

@use '../variables/variables' as *;
@use '../helpers/mixins' as *;

// Class: 'gw-input'.
.gw-input {
  appearance: none;
  background-color: $gw-colour-input-background;
  border-color: $gw-colour-input-border;
  border-width: $gw-input-border-regular;
  border-radius: 0;
  border-style: solid;
  box-shadow: none;
  color: $gw-colour-input-value;
  display: inline-block;
  font-family: $gw-font-family-primary;
  padding-top: $gw-spacing-02;
  padding-right: $gw-spacing-02;
  padding-bottom: $gw-spacing-02;
  padding-left: $gw-spacing-02;
  width: $gw-input-width;
  appearance: none;
  box-shadow: none;

  &:focus {
    @include gw-mixin-focused-input;
  }

  &::-ms-input-placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder,
  &::placeholder {
    color: $gw-colour-input-placeholder;
    opacity: 1; /* Firefox */
  }
}

// Fixed-width inputs
$gw-input-fixed-widths: (20, 10, 5, 4, 3, 2);

@each $key in $gw-input-fixed-widths {
  // Class: 'gw-input--fixed-20'.
  @include gw-mixin-fixed-width-input($key);
}

// Fluid-width inputs
$gw-input-fluid-widths: (75, 66, 50, 33, 25);

@each $key in $gw-input-fluid-widths {
  // Class: 'gw-input--fluid-50'.
  @include gw-mixin-fluid-width-input($key);
}
