// LLYW.CYMRU | GOV.WALES
// Links
// ========================================

@use '../variables/variables' as *;
@use '../helpers/mixins' as *;

a,
.gw-link {
  @include gw-mixin-link;
}

@include gw-mixin-media-query(print) {
  a,
  .gw-link {
    text-decoration: underline;
  }

  // Print a visible URL after links.

  a[href]:after {
    content: ' (' attr(href) ')';
    font-weight: $gw-font-weight-light;
    @include gw-mixin-font-size($gw-font-size-print-url, null);
  }

  // Do not print # or JavaScript URL.

  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}
