// LLYW.CYMRU | GOV.WALES
// Components: Link: Report this page
// ========================================

@use '../../../scss/global/helpers/mixins/focus';
@use '../../../scss/global/helpers/mixins/transitions';
@use '../../../scss/global/variables/colours';
@use '../../../scss/global/variables/spacing';
@use '../../../scss/global/variables/transition';
@use '../../../scss/global/variables/font';

// Specific variables.
$gw-colour-link-default-report-this-page: colours.$gw-colour-grey-1;
$gw-colour-link-default-report-this-page-hover: colours.$gw-colour-black;

// Class: 'gw-link-report-this-page'.
.gw-link--report-this-page {
  color: $gw-colour-link-default-report-this-page;
  font-weight: font.$gw-font-weight-normal;
  text-decoration: underline;
  @include transitions.gw-mixin-transitions(
    transition.$gw-transition-out-time,
    color
  );
  margin-bottom: spacing.$gw-spacing-06;
  display: inline-block;

  &:active,
  &:visited {
    color: $gw-colour-link-default-report-this-page;
  }

  &:hover {
    color: $gw-colour-link-default-report-this-page-hover;
    @include transitions.gw-mixin-transitions(
      transition.$gw-transition-in-time,
      color
    );
  }

  &:focus {
    @include focus.gw-mixin-focused-text;
  }
}
