@use 'sass:map';
@use '../helpers/mixins/button';
@use '../helpers/mixins/focus';
@use '../helpers/mixins/inline-svg';
@use '../variables/colours';
@use '../variables/spacing';
@use '../variables/ui-images';

// LLYW.CYMRU | GOV.WALES
// Button
// ========================================

$icons: (
  'close': ui-images.$gw-ui-close,
  'chevron-left': ui-images.$gw-ui-chevron-left,
  'chevron-right': ui-images.$gw-ui-chevron-right,
  'chevron-up': ui-images.$gw-ui-chevron-up,
  'chevron-down': ui-images.$gw-ui-chevron-down,
  'save': ui-images.$gw-ui-save,
  'search': ui-images.$gw-ui-keyword-search,
);

// TODO: Align colours with Figma designs when done
$button-colours: (
  'red': (
    'primary': colours.$gw-colour-red,
    'secondary': colours.$gw-colour-red-2,
  ),
  'black': (
    'primary': colours.$gw-colour-black,
    'secondary': colours.$gw-colour-grey-1,
  ),
  'green': (
    'primary': colours.$gw-colour-green,
    'secondary': colours.$gw-colour-green-2,
  ),
  'grey': (
    'primary': colours.$gw-colour-grey-1,
    'secondary': colours.$gw-colour-grey-2,
  ),
);

// Class: 'gw-btn'.
.gw-btn {
  // Common btn.
  @include button.gw-mixin-btn;

  &:focus {
    @include focus.gw-mixin-focused-btn;
  }

  &:hover:focus {
    @include focus.gw-mixin-focused-btn;
  }

  // Class: 'gw-btn--primary'.
  &--primary {
    border: none;
    background-color: colours.$gw-colour-blue;
    color: colours.$gw-colour-white;

    &:hover {
      background-color: colours.$gw-colour-blue-2;
    }
  }

  // Class: 'gw-btn--secondary'.
  &--secondary {
    border: 1px solid colours.$gw-colour-blue;
    color: colours.$gw-colour-blue;
    background-color: inherit;
  }

  // Class: 'gw-btn--cta'.
  &--cta {
    &:hover {
      background-color: colours.$gw-colour-blue-2;
    }
  }

  // Sizes.
  // Class: 'gw-btn--xs'.
  &--xs {
    @include button.gw-mixin-btn-xs();
  }

  // Class: 'gw-btn--sm'.
  &--sm {
    @include button.gw-mixin-btn-sm();
  }

  // Class: 'gw-btn--lg'.
  &--lg {
    @include button.gw-mixin-btn-lg();
  }

  // Class: 'gw-btn--icon'.
  &--icon {
    background-repeat: no-repeat;
    position: relative;
  }

  // Class: 'gw-btn--icon-left'.
  &--icon-left {
    padding-left: spacing.$gw-spacing-09;
    background-position: left 20px center;

    &.gw-btn--sm {
      background-position: left 15px center;
      padding-left: spacing.$gw-spacing-08;
    }
  }

  // Class: 'gw-btn--icon-right'.
  &--icon-right {
    padding-right: spacing.$gw-spacing-09;
    background-position: right 20px center;

    &.gw-btn--sm {
      background-position: right 15px center;
      padding-right: spacing.$gw-spacing-08;
    }
  }

  // Class: 'gw-btn--icon-only'.
  &--icon-only {
    text-indent: -9999px;
    width: 34px;
    height: 34px;
    padding: 0;
    background-position: center;

    &.gw-btn--lg {
      width: 44px;
      height: 44px;
    }
  }

  @each $icon, $svg in $icons {
    &--icon-#{$icon} {
      @include inline-svg.gw-mixin-background-svg(
        $svg,
        colours.$gw-colour-white
      );

      &.gw-btn--secondary {
        @include inline-svg.gw-mixin-background-svg(
          $svg,
          colours.$gw-colour-blue
        );
      }

      &:hover {
        @include inline-svg.gw-mixin-background-svg(
          $svg,
          colours.$gw-colour-white
        );

        &:focus {
          @include inline-svg.gw-mixin-background-svg(
            $svg,
            colours.$gw-colour-black
          );
        }
      }

      &:focus {
        @include inline-svg.gw-mixin-background-svg(
          $svg,
          colours.$gw-colour-black
        );
      }
    }
  }

  @each $button-colour, $value in $button-colours {
    &--primary-#{$button-colour} {
      background-color: map.get($button-colours, $button-colour, 'primary');

      &:hover {
        background-color: map.get($button-colours, $button-colour, 'secondary');
      }
    }

    &--secondary-#{$button-colour} {
      border: 1px solid map.get($button-colours, $button-colour, 'primary');
      color: map.get($button-colours, $button-colour, 'primary');

      &:hover {
        background-color: map.get($button-colours, $button-colour, 'primary');
      }

      @each $icon, $svg in $icons {
        &.gw-btn--icon-#{$icon} {
          @include inline-svg.gw-mixin-background-svg(
            $svg,
            map.get($button-colours, $button-colour, 'primary')
          );

          &:hover {
            @include inline-svg.gw-mixin-background-svg(
              $svg,
              colours.$gw-colour-white
            );
          }

          &:focus {
            @include inline-svg.gw-mixin-background-svg(
              $svg,
              colours.$gw-colour-black
            );
          }
        }
      }
    }
  }
}
