// LLYW.CYMRU | GOV.WALES
// Form
// ========================================

@use '../helpers/mixins/media-query';
@use '../helpers/mixins/typography';
@use '../variables/colours';
@use '../variables/spacing';
@use '../variables/font';
@use '../variables/font-sizes';

// Class: 'gw-form'.
.gw-form {
  position: relative;

  // Class: 'gw-form__row'.
  &__row {
    margin-bottom: spacing.$gw-spacing-06;
  }
}

// Class: 'gw-label'.
.gw-label {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-label,
    font.$gw-line-height
  );
  @include typography.gw-mixin-letter-spacing(
    font-sizes.$gw-font-size-label,
    font.$gw-letter-spacing-tight
  );
  color: colours.$gw-colour-label-black;
  display: block;
  font-weight: font.$gw-font-weight-bold;
  margin-bottom: spacing.$gw-spacing-03;

  // Class: 'gw-label--lg'.
  &--lg {
    @include typography.gw-mixin-font-size(
      font-sizes.$gw-font-size-label-large,
      font.$gw-line-height
    );
    @include typography.gw-mixin-letter-spacing(
      font-sizes.$gw-font-size-label-large,
      font.$gw-letter-spacing-tight
    );

    @include media-query.gw-mixin-media-query(md) {
      @include typography.gw-mixin-font-size(
        font-sizes.$gw-font-size-label-large-md,
        font.$gw-line-height-headings
      );
      @include typography.gw-mixin-letter-spacing(
        font-sizes.$gw-font-size-label-large-md,
        font.$gw-letter-spacing-tight
      );
    }
  }
}

// Class: 'gw-description'.
.gw-description {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-description,
    font.$gw-line-height
  );
  color: colours.$gw-colour-description-text;
  margin-bottom: spacing.$gw-spacing-03;
}

// Class: 'gw-hint'.
.gw-hint {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-hint,
    font.$gw-line-height
  );
  color: colours.$gw-colour-hint-text;
  margin-bottom: spacing.$gw-spacing-03;
}
