@use '../settings/spacing/spacing';

// LLYW.CYMRU | GOV.WALES
// Index list
// ========================================

.gw-index-list {
  margin-top: spacing.$gw-spacing-04;
  margin-bottom: spacing.$gw-spacing-10;
  display: inline-block;
}
