@use '../helpers/mixins/link';
@use '../helpers/mixins/media-query';
@use '../helpers/mixins/typography';
@use '../settings/typography/base';
@use '../settings/typography/font-sizes';

// LLYW.CYMRU | GOV.WALES
// Links
// ========================================

a,
.gw-link {
  @include link.gw-mixin-link;
}

@include media-query.gw-mixin-media-query(print) {
  a,
  .gw-link {
    text-decoration: underline;
  }

  // Print a visible URL after links.

  a[href]:after {
    content: ' (' attr(href) ')';
    font-weight: base.$gw-font-weight-light;
    @include typography.gw-mixin-font-size(
      font-sizes.$gw-font-size-print-url,
      null
    );
  }

  // Do not print # or JavaScript URL.

  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}
