// LLYW.CYMRU | GOV.WALES
// Components: Button: Primary
// ========================================

@use '../../../scss/global/settings/all';
@use '../../../scss/global/helpers/all' as all2;
@use "../../../scss/global/helpers/mixins/typography";
@use "../../../scss/global/settings/colours/colours";
@use "../../../scss/global/settings/spacing/spacing";
@use "../../../scss/global/settings/typography/base";
@use "../../../scss/global/settings/typography/font-sizes";

.gw-btn {
  // Class: 'gw-btn--cta'.
  &--cta {
    background-color: colours.$gw-colour-blue;
    color: colours.$gw-colour-white;
    border-radius: spacing.$gw-spacing-14;
    padding: spacing.$gw-spacing-03 spacing.$gw-spacing-05;
    @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-button-cta, base.$gw-line-height);

    &.gw-btn--lg {
      padding: spacing.$gw-spacing-04 spacing.$gw-spacing-06;
      @include typography.gw-mixin-font-size(
        font-sizes.$gw-font-size-button-cta-large,
        base.$gw-line-height
      );
    }

    &.gw-btn--icon-right {
      padding-right: spacing.$gw-spacing-08;
      background-position: right spacing.$gw-spacing-03 center;
    }
  }
}
