// LLYW.CYMRU | GOV.WALES
// Components: Card
// ========================================

@use '../../scss/helpers/mixins/media-query';
@use '../../scss/helpers/mixins/typography';
@use '../../scss/variables/colours';
@use '../../scss/variables/spacing';
@use '../../scss/variables/font';
@use '../../scss/variables/font-sizes';

// Class: 'gw-card'.
.gw-card {
  $this: &;
  margin-bottom: spacing.$gw-spacing-08;

  // Class: 'gw-card__image'.
  &__image {
    margin-bottom: spacing.$gw-spacing-04;
  }

  // Class: 'gw-card__title'.
  &__title {
    margin-bottom: spacing.$gw-spacing-01;

    h3,
    h2 {
      margin-bottom: 0;
      @include typography.gw-mixin-font-size(
        font-sizes.$gw-font-size-card-title,
        font.$gw-line-height-headings
      );
      @include typography.gw-mixin-letter-spacing(
        font-sizes.$gw-font-size-card-title,
        font.$gw-letter-spacing-tight
      );

      @include media-query.gw-mixin-media-query(md) {
        @include typography.gw-mixin-font-size(
          font-sizes.$gw-font-size-card-title-md,
          font.$gw-line-height-headings
        );
        @include typography.gw-mixin-letter-spacing(
          font-sizes.$gw-font-size-card-title-md,
          font.$gw-letter-spacing-tight
        );
      }
    }
  }

  // Class: 'gw-card__callout'.
  &__callout {
    margin-bottom: spacing.$gw-spacing-02;
  }

  // Class: 'gw-card__meta-container'.
  &__meta-container {
    margin-bottom: spacing.$gw-spacing-01;
    @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-meta, null);
    display: flex;
    flex-wrap: wrap;

    // Class: 'gw-card__meta-container--mb'.
    &--mb {
      margin-bottom: spacing.$gw-spacing-01;
    }
  }

  // Class: 'gw-card__meta'.
  &__meta {
    @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-meta, null);
    @include typography.gw-mixin-letter-spacing(
      font-sizes.$gw-font-size-meta,
      font.$gw-letter-spacing-tight
    );
    color: colours.$gw-colour-meta-grey;
    margin-bottom: spacing.$gw-spacing-01;
    margin-right: spacing.$gw-spacing-04;
  }

  // Class: 'gw-card__description'.
  &__description {
    margin-bottom: spacing.$gw-spacing-02;
    @include typography.gw-mixin-font-size(
      font-sizes.$gw-font-size-card-description,
      null
    );

    p {
      @include typography.gw-mixin-font-size(
        font-sizes.$gw-font-size-card-description,
        null
      );
    }
  }

  // Modifier for cards displayed in an index list.
  // Class: 'gw-card--index-list'.
  &--index-list {
    margin-bottom: spacing.$gw-spacing-05;
  }
}
