// LLYW.CYMRU | GOV.WALES
// Components: Card
// ========================================

@use '../../scss/variables/variables' as *;
@use '../../scss/helpers/mixins' as *;

// Class: 'gw-card'.
.gw-card {
  $this: &;
  margin-bottom: $gw-spacing-08;

  // Class: 'gw-card__image'.
  &__image {
    margin-bottom: $gw-spacing-04;
  }

  // Class: 'gw-card__title'.
  &__title {
    margin-bottom: $gw-spacing-01;

    h3,
    h2 {
      margin-bottom: 0;
      @include gw-mixin-font-size(
        $gw-font-size-card-title,
        $gw-line-height-headings
      );
      @include gw-mixin-letter-spacing(
        $gw-font-size-card-title,
        $gw-letter-spacing-tight
      );

      @include gw-mixin-media-query(md) {
        @include gw-mixin-font-size(
          $gw-font-size-card-title-md,
          $gw-line-height-headings
        );
        @include gw-mixin-letter-spacing(
          $gw-font-size-card-title-md,
          $gw-letter-spacing-tight
        );
      }
    }
  }

  // Class: 'gw-card__callout'.
  &__callout {
    margin-bottom: $gw-spacing-02;
  }

  // Class: 'gw-card__meta-container'.
  &__meta-container {
    margin-bottom: $gw-spacing-01;
    @include gw-mixin-font-size($gw-font-size-meta, null);
    display: flex;
    flex-wrap: wrap;

    // Class: 'gw-card__meta-container--mb'.
    &--mb {
      margin-bottom: $gw-spacing-01;
    }
  }

  // Class: 'gw-card__meta'.
  &__meta {
    @include gw-mixin-font-size($gw-font-size-meta, null);
    @include gw-mixin-letter-spacing(
      $gw-font-size-meta,
      $gw-letter-spacing-tight
    );
    color: $gw-colour-meta-grey;
    margin-bottom: $gw-spacing-01;
    margin-right: $gw-spacing-04;
  }

  // Class: 'gw-card__description'.
  &__description {
    margin-bottom: $gw-spacing-02;
    @include gw-mixin-font-size($gw-font-size-card-description, null);

    p {
      @include gw-mixin-font-size($gw-font-size-card-description, null);
    }
  }

  // Modifier for cards displayed in an index list.
  // Class: 'gw-card--index-list'.
  &--index-list {
    margin-bottom: $gw-spacing-05;
  }
}
