// LLYW.CYMRU | GOV.WALES
// Settings: Inputs
// ========================================

$gw-input-width: 100%;
$gw-input-border-regular: 1px;
$gw-input-border-medium: 2px;
$gw-input-border-heavy: 3px;
