// LLYW.CYMRU | GOV.WALES
// Components: Site search
// ========================================

@use '../../scss/global/helpers/mixins/typography';
@use '../../scss/global/variables/colours';
@use '../../scss/global/variables/input';
@use '../../scss/global/variables/spacing';
@use '../../scss/global/variables/font';
@use '../../scss/global/variables/font-sizes';

// Class: 'gw-site-search'.
.gw-site-search {
  position: relative;

  .gw-btn--primary {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    background-size: 15px;
  }

  .gw-input {
    height: 34px;
    padding-top: spacing.$gw-spacing-02;
    padding-right: spacing.$gw-spacing-09;
    padding-bottom: spacing.$gw-spacing-02;
    padding-left: spacing.$gw-spacing-02;
  }

  .gw-label {
    color: colours.$gw-colour-label-white;
  }

  // Class: 'gw-site-search--lg'.
  &--lg {
    .gw-btn--primary {
      background-size: 20px;
    }

    .gw-label {
      color: colours.$gw-colour-label-black;
    }

    .gw-input {
      height: 44px;
      padding-top: spacing.$gw-spacing-02;
      padding-right: spacing.$gw-spacing-09;
      padding-bottom: spacing.$gw-spacing-02;
      padding-left: spacing.$gw-spacing-02;
      border-width: input.$gw-input-border-heavy;
      @include typography.gw-mixin-font-size(
        font-sizes.$gw-font-size-input-large,
        font.$gw-line-height
      );

      &:focus {
        border-width: input.$gw-input-border-medium;
      }
    }
  }
}
