// LLYW.CYMRU | GOV.WALES
// Components: Site search
// ========================================

@use '../../scss/global/settings/all';
@use '../../scss/global/helpers/all' as all2;
@use "../../scss/global/helpers/mixins/typography";
@use "../../scss/global/settings/colours/colours";
@use "../../scss/global/settings/input/input";
@use "../../scss/global/settings/spacing/spacing";
@use "../../scss/global/settings/typography/base";
@use "../../scss/global/settings/typography/font-sizes";

// Class: 'gw-site-search'.
.gw-site-search {
  position: relative;

  .gw-btn--primary {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    background-size: 15px;
  }

  .gw-input {
    height: 34px;
    padding-top: spacing.$gw-spacing-02;
    padding-right: spacing.$gw-spacing-09;
    padding-bottom: spacing.$gw-spacing-02;
    padding-left: spacing.$gw-spacing-02;
  }

  .gw-label {
    color: colours.$gw-colour-label-white;
  }

  // Class: 'gw-site-search--lg'.
  &--lg {
    .gw-btn--primary {
      background-size: 20px;
    }

    .gw-label {
      color: colours.$gw-colour-label-black;
    }

    .gw-input {
      height: 44px;
      padding-top: spacing.$gw-spacing-02;
      padding-right: spacing.$gw-spacing-09;
      padding-bottom: spacing.$gw-spacing-02;
      padding-left: spacing.$gw-spacing-02;
      border-width: input.$gw-input-border-heavy;
      @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-input-large, base.$gw-line-height);

      &:focus {
        border-width: input.$gw-input-border-medium;
      }
    }
  }
}
