// LLYW.CYMRU | GOV.WALES
// Components: Site header
// ========================================

@use '../../scss/global/helpers/mixins/inline-svg';
@use '../../scss/global/helpers/mixins/media-query';
@use '../../scss/global/helpers/mixins/site-branding' as mixins-site-branding;
@use '../../scss/global/settings/colours/colours';
@use '../../scss/global/settings/site-branding/site-branding' as
  site-branding-site-branding;
@use '../../scss/global/settings/spacing/spacing';

// Specific variables.
$gw-header-background: colours.$gw-colour-layout-header-background;
$gw-header-text-colour: colours.$gw-colour-white;
$gw-header-site-search-border: colours.$gw-colour-white;

// Class: 'gw-site-header'.
.gw-site-header {
  background-color: colours.$gw-colour-layout-header-background;
  color: $gw-header-text-colour;
  padding-top: spacing.$gw-spacing-04;
  padding-bottom: spacing.$gw-spacing-04;

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  // Class: 'gw-site-header--without-breadcrumb'.
  &--without-breadcrumb {
    margin-bottom: spacing.$gw-spacing-08;
  }

  a {
    color: $gw-header-text-colour;
  }

  // Class: 'gw-site-header__branding'.
  &__branding {
    @include mixins-site-branding.gw-mixin-site-logo(
      site-branding-site-branding.$gw-logo-colour--header
    );
    float: left;

    // Print version of the logo and placement.
    @include media-query.gw-mixin-media-query(print) {
      width: site-branding-site-branding.$gw-print-logo-width;
      height: site-branding-site-branding.$gw-print-logo-height;
      @include inline-svg.gw-mixin-background-svg(
        site-branding-site-branding.$gw-print-logo,
        null
      ); //// SVG image, SVG colour.
      background-repeat: no-repeat;
      background-size: site-branding-site-branding.$gw-print-logo-width
        site-branding-site-branding.$gw-print-logo-height;
      background-position: top left;
      float: right;
    }

    &-wrapper {
      @include media-query.gw-mixin-media-query(print) {
        width: 100%;
      }
    }

    a {
      @include media-query.gw-mixin-media-query(print) {
        display: none;
      }
    }
  }

  // Class: 'gw-site-header__wrapper'.
  &__wrapper {
    text-align: right;

    @include media-query.gw-mixin-media-query(md) {
      float: right;
    }
  }

  // Class: 'gw-site-header__language'.
  &__language {
    display: inline-block;

    .gw-btn--primary {
      &:hover {
        // TODO: Align colours with Figma designs when done.
        background-color: colours.$gw-colour-grey-1;
      }
    }
  }

  // Class: 'gw-site-header__search'.
  &__search {
    width: 100%;
    margin-top: spacing.$gw-spacing-03;

    @include media-query.gw-mixin-media-query(md) {
      width: 334px;
      margin-top: 0;
      margin-left: spacing.$gw-spacing-04;
      display: inline-block;
    }

    .gw-input {
      border-color: $gw-header-site-search-border;
    }
  }

  @include media-query.gw-mixin-media-query(print) {
    background-color: transparent;
    color: colours.$gw-colour-print-default;
    padding-top: 0;
    padding-bottom: 0;
  }
}
