@use '../../helpers/mixins/typography';
@use '../../settings/spacing/spacing';
@use '../../settings/typography/base';
@use '../../settings/typography/font-sizes';

// LLYW.CYMRU | GOV.WALES
// Typography: Lists
// ========================================

dd,
ul,
ol {
  @extend .gw-list;
}

.gw-list {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-list,
    base.$gw-line-height
  );
  margin-bottom: spacing.$gw-spacing-04;
  padding-left: spacing.$gw-spacing-06;

  li {
    margin-bottom: spacing.$gw-spacing-01;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--circle {
    list-style-type: circle;
  }

  &--decimal {
    list-style-type: decimal;
  }

  &--lower-alpha {
    list-style-type: lower-alpha;
  }

  &--upper-alpha {
    list-style-type: lower-alpha;
  }

  &--dash {
    list-style-type: '-';
    padding-left: spacing.$gw-spacing-05;

    li {
      padding-left: spacing.$gw-spacing-01;
    }
  }

  &--revert {
    list-style-type: revert;
  }

  &--no-bullet {
    list-style-type: none;
    padding-left: 0;
  }

  &--index {
    margin-bottom: spacing.$gw-spacing-04;
    list-style-type: none;
    padding-left: 0;
  }
}
