// LLYW.CYMRU | GOV.WALES
// Components: Metadata
// ========================================

@use '../../scss/global/helpers/mixins/typography';
@use '../../scss/global/settings/colours/colours';
@use '../../scss/global/settings/spacing/spacing';
@use '../../scss/global/settings/typography/base';
@use '../../scss/global/settings/typography/font-sizes';

// Class: 'gw-metadata'.
.gw-metadata {
  @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-meta, null);
  @include typography.gw-mixin-letter-spacing(
    font-sizes.$gw-font-size-meta,
    base.$gw-letter-spacing-tight
  );
  color: colours.$gw-colour-meta-grey;
  margin-bottom: spacing.$gw-spacing-01;

  // Metadata types.
  // Class: 'gw-metadata--white'.
  &--white {
    color: colours.$gw-colour-meta-white;
  }

  // Class: 'gw-metadata--part-of'.
  &--part-of {
    flex-shrink: 1 0 auto;
  }
}
