// LLYW.CYMRU | GOV.WALES
// Components: ShareThisPage
// ========================================

@use '../../scss/global/helpers/mixins/button';
@use '../../scss/global/helpers/mixins/focus';
@use '../../scss/global/helpers/mixins/inline-svg';
@use '../../scss/global/helpers/mixins/typography';
@use '../../scss/global/settings/colours/colours';
@use '../../scss/global/settings/spacing/spacing';
@use '../../scss/global/settings/typography/base';
@use '../../scss/global/settings/ui-images/ui-images';

// Specific variables.
$gw-font-size-share-this-page: 16px;
$gw-line-height-share-this-page: 22px;
$gw-colour-btn-share-this-page-border: colours.$gw-colour-grey-2;
$gw-colour-btn-share-this-page-background: colours.$gw-colour-grey-6;
$gw-colour-btn-share-this-page-background: colours.$gw-colour-grey-6;
$gw-colour-btn-share-this-page-background-hover: colours.$gw-colour-grey-4;
$gw-colour-btn-share-this-page-text: colours.$gw-colour-black;
$gw-colour-btn-share-this-page-border: colours.$gw-colour-grey-2;

// Class: 'gw-share-this-page'.
.gw-share-this-page {
  display: inline-block;
  border: 1px solid $gw-colour-btn-share-this-page-border;
  background-color: $gw-colour-btn-share-this-page-background;

  // Class: 'gw-share-this-page__container'.
  &__container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }

  summary {
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 15px;
    margin-bottom: 0;
    @include typography.gw-mixin-font-size(
      $gw-font-size-share-this-page,
      $gw-line-height-share-this-page
    );
    @include typography.gw-mixin-letter-spacing(
      $gw-font-size-share-this-page,
      base.$gw-letter-spacing-tight
    );
    @include inline-svg.gw-mixin-background-svg(
      ui-images.$gw-ui-share,
      $gw-colour-btn-share-this-page-text
    );
    @include button.gw-mixin-btn(
      $btn-text-colour: $gw-colour-btn-share-this-page-text,
      $btn-text-colour-hover: $gw-colour-btn-share-this-page-text,
      $btn-background-colour: $gw-colour-btn-share-this-page-background,
      $btn-background-colour-hover:
        $gw-colour-btn-share-this-page-background-hover,
      $btn-border: none,
      $btn-padding-left: spacing.$gw-spacing-07
    );

    &:focus {
      @include focus.gw-mixin-focused-btn;
      @include inline-svg.gw-mixin-background-svg(
        ui-images.$gw-ui-share,
        $gw-colour-btn-share-this-page-text
      );
    }
  }

  & ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    @include typography.gw-mixin-font-size(
      $gw-font-size-share-this-page,
      $gw-line-height-share-this-page
    );
    @include typography.gw-mixin-letter-spacing(
      $gw-font-size-share-this-page,
      base.$gw-letter-spacing-tight
    );

    li {
      display: inline;
    }
  }

  a {
    padding-top: spacing.$gw-spacing-02;
    padding-right: spacing.$gw-spacing-03;
    padding-bottom: spacing.$gw-spacing-02;
    padding-left: spacing.$gw-spacing-09;
    background-position: left 15px center;

    &:focus {
      @include focus.gw-mixin-focused-btn;
    }
  }
}
