// LLYW.CYMRU | GOV.WALES
// Typograpy: Heading
// ========================================

@use '../../variables/variables' as *;
@use '../../helpers/mixins' as *;

h1,
.gw-h1 {
  @include gw-mixin-font-size($gw-font-size-h1, $gw-line-height-headings);
  @include gw-mixin-letter-spacing($gw-font-size-h1, $gw-letter-spacing-tight);
  margin-bottom: $gw-spacing-05;

  @include gw-mixin-media-query(md) {
    @include gw-mixin-font-size($gw-font-size-h1-md, $gw-line-height-headings);
    @include gw-mixin-letter-spacing(
      $gw-font-size-h1-md,
      $gw-letter-spacing-tight
    );
  }
}

h2,
.gw-h2 {
  @include gw-mixin-font-size($gw-font-size-h2, $gw-line-height-headings);
  @include gw-mixin-letter-spacing($gw-font-size-h2, $gw-letter-spacing-tight);
  margin-bottom: $gw-spacing-05;

  @include gw-mixin-media-query(md) {
    @include gw-mixin-font-size($gw-font-size-h2-md, $gw-line-height-headings);
    @include gw-mixin-letter-spacing(
      $gw-font-size-h2-md,
      $gw-letter-spacing-tight
    );
  }

  &:not(:first-child) {
    margin-top: $gw-spacing-04;
  }
}

h3,
.gw-h3 {
  @include gw-mixin-font-size($gw-font-size-h3, $gw-line-height-headings);
  @include gw-mixin-letter-spacing($gw-font-size-h3, $gw-letter-spacing-tight);
  margin-bottom: $gw-spacing-04;

  @include gw-mixin-media-query(md) {
    @include gw-mixin-font-size($gw-font-size-h3-md, $gw-line-height-headings);
    @include gw-mixin-letter-spacing(
      $gw-font-size-h3-md,
      $gw-letter-spacing-tight
    );
  }

  &:not(:first-child) {
    margin-top: $gw-spacing-04;
  }
}

h4,
.gw-h4 {
  @include gw-mixin-font-size($gw-font-size-h4, $gw-line-height-headings);
  @include gw-mixin-letter-spacing($gw-font-size-h4, $gw-letter-spacing-tight);
  margin-bottom: $gw-spacing-04;

  @include gw-mixin-media-query(md) {
    @include gw-mixin-font-size($gw-font-size-h4-md, $gw-line-height-headings);
    @include gw-mixin-letter-spacing(
      $gw-font-size-h4-md,
      $gw-letter-spacing-tight
    );
  }

  &:not(:first-child) {
    margin-top: $gw-spacing-04;
  }
}

h5,
.gw-h5 {
  @include gw-mixin-font-size($gw-font-size-h5, $gw-line-height-headings);
  @include gw-mixin-letter-spacing($gw-font-size-h5, $gw-letter-spacing-tight);
  margin-bottom: $gw-spacing-04;

  @include gw-mixin-media-query(md) {
    @include gw-mixin-font-size($gw-font-size-h5-md, $gw-line-height-headings);
    @include gw-mixin-letter-spacing(
      $gw-font-size-h5-md,
      $gw-letter-spacing-tight
    );
  }

  &:not(:first-child) {
    margin-top: $gw-spacing-04;
  }
}

h6,
.gw-h6 {
  @include gw-mixin-font-size($gw-font-size-h6, $gw-line-height-headings);
  @include gw-mixin-letter-spacing($gw-font-size-h6, $gw-letter-spacing-tight);
  margin-bottom: $gw-spacing-04;

  @include gw-mixin-media-query(md) {
    @include gw-mixin-font-size($gw-font-size-h6-md, $gw-line-height-headings);
  }

  &:not(:first-child) {
    margin-top: $gw-spacing-04;
  }
}
