// LLYW.CYMRU | GOV.WALES
// Components: Link: Breadcrumb
// ========================================
@use '../../scss/global/helpers/mixins/transitions';
@use '../../scss/global/helpers/mixins/typography';
@use '../../scss/global/variables/colours';
@use '../../scss/global/variables/transition';
@use '../../scss/global/variables/font';
@use '../../scss/global/variables/font-sizes';

// Class 'gw-link-breadcrumb'.
.gw-link-breadcrumb {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-breadcrumb,
    font.$gw-line-height
  );

  // Class 'gw-link-breadcrumb--current'.
  &--current {
    font-weight: font.$gw-font-weight-normal;
    color: colours.$gw-colour-breadcrumb-current-link;

    &:active,
    &:visited {
      color: colours.$gw-colour-breadcrumb-current-link;
    }

    &:hover {
      color: colours.$gw-colour-breadcrumb-current-link-hover;
      @include transitions.gw-mixin-transitions(
        transition.$gw-transition-in-time,
        color,
        background-image
      );
    }
  }
}
