// LLYW.CYMRU | GOV.WALES
// Components: Link: Breadcrumb
// ========================================

@use '../../scss/variables/variables' as *;
@use '../../scss/helpers/mixins' as *;

// Class 'gw-link-breadcrumb'.
.gw-link-breadcrumb {
  @include gw-mixin-font-size($gw-font-size-breadcrumb, $gw-line-height);

  // Class 'gw-link-breadcrumb--current'.
  &--current {
    font-weight: $gw-font-weight-normal;
    color: $gw-colour-breadcrumb-current-link;

    &:active,
    &:visited {
      color: $gw-colour-breadcrumb-current-link;
    }

    &:hover {
      color: $gw-colour-breadcrumb-current-link-hover;
      @include gw-mixin-transitions(
        $gw-transition-in-time,
        color,
        background-image
      );
    }
  }
}
