// LLYW.CYMRU | GOV.WALES
// Components: Breadcrumbs
// ========================================

@use 'Breadcrumb.scss';
@use '../../scss/global/helpers/mixins/inline-svg';
@use '../../scss/global/helpers/mixins/media-query';
@use '../../scss/global/helpers/mixins/typography';
@use '../../scss/global/settings/colours/colours';
@use '../../scss/global/settings/spacing/spacing';
@use '../../scss/global/settings/typography/base';
@use '../../scss/global/settings/typography/font-sizes';
@use '../../scss/global/settings/ui-images/ui-images';

// Class 'gw-breadcrumbs'.
.gw-breadcrumbs {
  padding-top: spacing.$gw-spacing-04;
  padding-bottom: spacing.$gw-spacing-07;

  // Class 'gw-breadcrumbs__list'.
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    @include typography.gw-mixin-font-size(
      font-sizes.$gw-font-size-breadcrumb,
      base.$gw-line-height
    );
    @include typography.gw-mixin-letter-spacing(
      font-sizes.$gw-font-size-breadcrumb,
      base.$gw-letter-spacing-tight
    );
  }

  // Class 'gw-breadcrumbs__item'.
  &__item {
    display: none;

    // Class 'gw-breadcrumbs__item--parent'.
    &--parent {
      display: inline-block;
      padding-left: spacing.$gw-spacing-04;
      @include inline-svg.gw-mixin-background-svg(
        ui-images.$gw-ui-chevron-left,
        colours.$gw-colour-breadcrumb-pointer
      );
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: left 5px;
    }

    @include media-query.gw-mixin-media-query(md) {
      display: inline-block;
      margin-left: 0;
      margin-right: spacing.$gw-spacing-02;
      padding-right: spacing.$gw-spacing-04;
      @include inline-svg.gw-mixin-background-svg(
        ui-images.$gw-ui-chevron-right,
        colours.$gw-colour-breadcrumb-pointer
      );
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: right 5px;

      &:last-child {
        background-image: none;
        padding-right: 0;
        margin-right: 0;
      }

      &--parent {
        padding-left: 0;
      }
    }
  }
}
