// LLYW.CYMRU | GOV.WALES
// Components: Call Out
// ========================================

@use '../../scss/global/helpers/mixins/border';
@use '../../scss/global/helpers/mixins/inline-svg';
@use '../../scss/global/helpers/mixins/typography';
@use '../../scss/global/variables/borders';
@use '../../scss/global/variables/colours';
@use '../../scss/global/variables/spacing';
@use '../../scss/global/variables/font-sizes';
@use '../../scss/global/variables/ui-images';

// Class: 'gw-callout'.
.gw-callout {
  $this: &;
  padding-top: spacing.$gw-spacing-05;
  padding-right: spacing.$gw-spacing-05;
  padding-bottom: spacing.$gw-spacing-05;
  padding-left: spacing.$gw-spacing-05;
  background-color: colours.$gw-colour-callout-background;
  @include border.gw-mixin-border(
    $border-position: borders.$gw-border-position-left,
    $border-color: colours.$gw-colour-callout-border,
    $border-width: borders.$gw-border-width-large
  );
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-callout,
    null
  );

  p {
    @include typography.gw-mixin-font-size(
      font-sizes.$gw-font-size-callout,
      null
    );

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Call out types.
  // Class: 'gw-callout--warning'.
  &--warning {
    @include inline-svg.gw-mixin-background-svg(
      ui-images.$gw-ui-callout-warning,
      colours.$gw-colour-callout-warning-icon
    ); // SVG image, SVG colour.
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left 10px center;
    padding-left: spacing.$gw-spacing-09;
  }

  // Class: 'gw-callout--alert'.
  &--alert {
    @include inline-svg.gw-mixin-background-svg(
      ui-images.$gw-ui-callout-alert,
      colours.$gw-colour-callout-alert-icon
    ); // SVG image, SVG colour.
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left 10px center;
    padding-left: spacing.$gw-spacing-09;
    background-color: colours.$gw-colour-callout-alert-background;
    @include border.gw-mixin-border(
      $border-position: borders.$gw-border-position-left,
      $border-color: colours.$gw-colour-callout-alert-border,
      $border-width: borders.$gw-border-width-large
    );
  }

  // Class: 'gw-callout--positive'.
  &--positive {
    background-color: colours.$gw-colour-callout-positive-background;
    @include border.gw-mixin-border(
      $border-position: borders.$gw-border-position-left,
      $border-color: colours.$gw-colour-callout-positive-border,
      $border-width: borders.$gw-border-width-large
    );
  }

  // Class: 'gw-callout--sm'.
  &--sm {
    padding-top: spacing.$gw-spacing-02;
    padding-bottom: spacing.$gw-spacing-02;
    padding-right: spacing.$gw-spacing-04;
    @include typography.gw-mixin-font-size(
      font-sizes.$gw-font-size-callout-small,
      null
    );
    background-size: 20px 20px;

    p {
      @include typography.gw-mixin-font-size(
        font-sizes.$gw-font-size-callout-small,
        null
      );
    }
  }

  // Class: 'gw-callout--alert--sm'.
  &--alert#{$this}--sm,
  // Class: 'gw-callout--warning--sm'.
  &--warning#{$this}--sm {
    padding-left: spacing.$gw-spacing-08;
  }
}
