// LLYW.CYMRU | GOV.WALES
// Components: Link: Skip
// ========================================

@use '../../../scss/variables/spacing';

// Class: 'gw-link--skip'.
.gw-link--skip {
  display: inline-block;
  padding-top: spacing.$gw-spacing-01;
  padding-right: spacing.$gw-spacing-02;
  padding-bottom: spacing.$gw-spacing-01;
  padding-left: spacing.$gw-spacing-02;
  margin-top: spacing.$gw-spacing-02;
  margin-bottom: spacing.$gw-spacing-02;
  margin-left: -10px;
}
