// LLYW.CYMRU | GOV.WALES
// Components: Cookie Banner
// ========================================

@use '../../scss/helpers/mixins/media-query';
@use '../../scss/helpers/mixins/typography';
@use '../../scss/variables/colours';
@use '../../scss/variables/spacing';
@use '../../scss/variables/font';
@use '../../scss/variables/font-sizes';

// Specific variables.
$gw-cookie-banner-background: colours.$gw-colour-grey-7;

// Class: 'gw-cookie-banner'.
.gw-cookie-banner {
  padding-top: spacing.$gw-spacing-04;
  padding-bottom: spacing.$gw-spacing-04;
  background-color: $gw-cookie-banner-background;
  p,
  li {
    @include typography.gw-mixin-font-size(
      font-sizes.$gw-font-size-paragraph-small,
      font.$gw-line-height
    );
  }

  @include media-query.gw-mixin-media-query(md) {
    p,
    li {
      @include typography.gw-mixin-font-size(
        font-sizes.$gw-font-size-paragraph,
        font.$gw-line-height
      );
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  // Class: 'gw-cookie__statement'.
  &__statement {
    .gw-btn--secondary {
      display: block;
      width: 100%;
      text-align: center;

      &:first-child {
        margin-bottom: spacing.$gw-spacing-02;
      }

      @include media-query.gw-mixin-media-query(md) {
        display: inline-block;
        width: auto;
        margin-right: spacing.$gw-spacing-02;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // Class: 'gw-cookie__confirmation'.
  &__confirmation {
    > div {
      margin-bottom: spacing.$gw-spacing-02;
    }

    @include media-query.gw-mixin-media-query(md) {
      display: flex;
      align-items: flex-start;

      > div {
        margin-bottom: 0;
      }
    }

    // Btn placement.
    .gw-btn-hide {
      color: colours.$gw-colour-link-default;
      @include media-query.gw-mixin-media-query(md) {
        margin-left: spacing.$gw-spacing-08;
        margin-top: spacing.$gw-spacing-01;
      }

      &:hover {
        color: colours.$gw-colour-link-hover;
      }
    }
  }

  // Class: 'gw-cookie__js-disabled'.
  &__js-disabled {
    .gw-btn {
      margin-top: spacing.$gw-spacing-03;
    }
  }
}
