// LLYW.CYMRU | GOV.WALES
// Settings: Breakpoints
// ========================================

$gw-xs: 400;
$gw-sm: 600;
$gw-md: 768;
$gw-lg: 960;
$gw-xl: 1240; // Not used at present.
$gw-xxl: 1440; // Not used at present.

$gw-media-breakpoints: (
  xs: '(min-width: ' + $gw-xs + 'px)',
  sm: '(min-width: ' + $gw-sm + 'px)',
  md: '(min-width: ' + $gw-md + 'px)',
  lg: '(min-width: ' + $gw-lg + 'px)',
  xl: '(min-width: ' + $gw-xl + 'px)',
  xxl: '(min-width: ' + $gw-xxl + 'px)',
);

$gw-media-breakpoints-max: (
  xs: '(max-width: ' + $gw-xs + 'px)',
  sm: '(max-width: ' + $gw-sm + 'px)',
  md: '(max-width: ' + $gw-md + 'px)',
  lg: '(max-width: ' + $gw-lg + 'px)',
  xl: '(max-width: ' + $gw-xl + 'px)',
  xxl: '(max-width: ' + $gw-xxl + 'px)',
);

$gw-media-generic: (
  print: 'print',
  screen: 'screen',
);
