// LLYW.CYMRU | GOV.WALES
// Components: Minimal pagination
// ========================================

@use '../../../scss/global/settings/all';
@use '../../../scss/global/helpers/all' as all2;
@use "../../../scss/global/helpers/mixins/inline-svg";
@use "../../../scss/global/helpers/mixins/media-query";
@use "../../../scss/global/helpers/mixins/typography";
@use "../../../scss/global/settings/colours/colours";
@use "../../../scss/global/settings/spacing/spacing";
@use "../../../scss/global/settings/typography/base";
@use "../../../scss/global/settings/typography/font-sizes";
@use "../../../scss/global/settings/ui-images/ui-images";

// Class: 'gw-minimal-pagination-link'.
.gw-minimal-pagination-link {
  display: inline-block;
  margin-bottom: spacing.$gw-spacing-08;

  // Class: 'gw-minimal-pagination-link__title'.
  &__title {
    @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-pagination-title, null);
    @include typography.gw-mixin-letter-spacing(
      font-sizes.$gw-font-size-pagination-title,
      base.$gw-letter-spacing-tight
    );

    @include media-query.gw-mixin-media-query(md) {
      @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-pagination-title-md, null);
      @include typography.gw-mixin-letter-spacing(
        font-sizes.$gw-font-size-pagination-title-md,
        base.$gw-letter-spacing-tight
      );
    }
  }

  // Class: 'gw-minimal-pagination-link__label'.
  &__label {
    display: block;
    font-weight: base.$gw-font-weight-normal;
    color: colours.$gw-colour-pagination-label;
    @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-pagination-label, null);
    @include typography.gw-mixin-letter-spacing(
      font-sizes.$gw-font-size-pagination-label,
      base.$gw-letter-spacing-tight
    );

    @include media-query.gw-mixin-media-query(md) {
      @include typography.gw-mixin-font-size(font-sizes.$gw-font-size-pagination-label-md, null);
      @include typography.gw-mixin-letter-spacing(
        font-sizes.$gw-font-size-pagination-label-md,
        base.$gw-letter-spacing-tight
      );
    }
  }

  // Class: 'gw-minimal-pagination-link--prev'.
  &--prev {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 2px;

    @include inline-svg.gw-mixin-background-svg(
      ui-images.$gw-ui-chevron-left,
      colours.$gw-colour-link-default
    ); // SVG image, SVG colour.

    @include media-query.gw-mixin-media-query(md) {
      padding-left: 30px;
      background-size: 18px;
      background-position: left 4px;
    }

    &:hover {
      @include inline-svg.gw-mixin-background-svg(
        ui-images.$gw-ui-chevron-left,
        colours.$gw-colour-link-hover
      );
    }

    &:focus {
      @include inline-svg.gw-mixin-background-svg(
        ui-images.$gw-ui-chevron-left,
        colours.$gw-colour-focus-ui
      );
    }
  }

  // Class: 'gw-minimal-pagination-link--next'.
  &--next {
    float: right;
    text-align: right;
    padding-right: 25px;

    @include inline-svg.gw-mixin-background-svg(
      ui-images.$gw-ui-chevron-right,
      colours.$gw-colour-link-default
    ); //// SVG image, SVG colour.
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 2px;

    @include media-query.gw-mixin-media-query(md) {
      padding-right: 30px;
      background-size: 18px;
      background-position: right 4px;
    }

    &:hover {
      @include inline-svg.gw-mixin-background-svg(
        ui-images.$gw-ui-chevron-right,
        colours.$gw-colour-link-hover
      );
    }

    &:focus {
      @include inline-svg.gw-mixin-background-svg(
        ui-images.$gw-ui-chevron-right,
        colours.$gw-colour-focus-ui
      );
    }
  }
}
