@use '../../settings/colours/colours';
@use '../../settings/spacing/spacing';
@use '../../settings/typography/base';
@use '../../settings/typography/font-sizes';
@use 'media-query';
@use 'typography';

// LLYW.CYMRU | GOV.WALES
// Mixins: Button
// ========================================

@mixin gw-mixin-btn(
  $btn-text-colour: colours.$gw-colour-btn-text,
  $btn-text-colour-hover: colours.$gw-colour-btn-text-hover,
  $btn-background-colour: colours.$gw-colour-btn-background,
  $btn-background-colour-hover: colours.$gw-colour-btn-background-hover,
  $btn-border: none,
  $btn-line-height: base.$gw-line-height-buttons,
  $btn-padding-top: spacing.$gw-spacing-02,
  $btn-padding-right: spacing.$gw-spacing-04,
  $btn-padding-bottom: spacing.$gw-spacing-02,
  $btn-padding-left: spacing.$gw-spacing-04
) {
  border: $btn-border;
  border-radius: 0;
  display: inline-block;
  appearance: button;
  font-weight: base.$gw-font-weight-bold;
  line-height: $btn-line-height;
  cursor: pointer;
  text-decoration: none;
  color: $btn-text-colour;
  background-color: $btn-background-colour;
  padding-top: $btn-padding-top;
  padding-right: $btn-padding-right;
  padding-bottom: $btn-padding-bottom;
  padding-left: $btn-padding-left;

  &:active,
  &:visited {
    color: $btn-text-colour;
  }

  &:hover {
    color: $btn-text-colour-hover;
    background-color: $btn-background-colour-hover;
  }

  // Do not display print URL on buttons.
  @include media-query.gw-mixin-media-query(print) {
    &[href]:after {
      content: '';
    }
  }
}

@mixin gw-mixin-btn-xs() {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-button-small,
    base.$gw-line-height-buttons
  );
  padding-top: spacing.$gw-spacing-01;
  padding-right: spacing.$gw-spacing-02;
  padding-bottom: spacing.$gw-spacing-01;
  padding-left: spacing.$gw-spacing-02;
}

@mixin gw-mixin-btn-sm() {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-button-small,
    base.$gw-line-height-buttons
  );
  padding-top: spacing.$gw-spacing-01;
  padding-right: spacing.$gw-spacing-03;
  padding-bottom: spacing.$gw-spacing-01;
  padding-left: spacing.$gw-spacing-03;
}

@mixin gw-mixin-btn-lg() {
  @include typography.gw-mixin-font-size(
    font-sizes.$gw-font-size-button-large,
    base.$gw-line-height-buttons
  );
  padding-top: spacing.$gw-spacing-03;
  padding-right: spacing.$gw-spacing-04;
  padding-bottom: spacing.$gw-spacing-03;
  padding-left: spacing.$gw-spacing-04;
}
