@use "../../settings/colours/colours";

// LLYW.CYMRU | GOV.WALES
// Mixins: Focus
// ========================================

@mixin gw-mixin-focused-text() {
  color: colours.$gw-colour-focus-text !important;
  background-color: colours.$gw-colour-focus-background;
  box-shadow:
    0 -3px colours.$gw-colour-focus-background,
    0 4px colours.$gw-colour-focus-border;
  text-decoration: none;
  outline-width: 3px;
  outline-style: solid;
  // Outlines must be present to meet accessibility standards tests.
  // Visually they are moved away form the screen.
  // Box-shadow provides the outline contrast.
  outline-color: colours.$gw-colour-focus-border;
  outline-offset: 9999px;
  // Apply box shadow to each fragment independently for breaks.
  box-decoration-break: clone;
}

@mixin gw-mixin-focused-btn() {
  color: colours.$gw-colour-focus-text !important;
  background-color: colours.$gw-colour-focus-background !important;
  border-color: transparent;
  text-decoration: none;
  outline: 3px solid colours.$gw-colour-focus-border;
  outline-offset: 0;
  box-shadow: 0 0 0 2px colours.$gw-colour-focus-background;
}

@mixin gw-mixin-focused-input() {
  border-color: colours.$gw-colour-focus-border;
  text-decoration: none;
  outline: 2px solid colours.$gw-colour-focus-background;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px colours.$gw-colour-focus-border;
}
