@use "../../settings/grid/grid" as grid-grid;
@use "../functions/grid" as functions-grid;

// LLYW.CYMRU | GOV.WALES
// Mixins: Grid
// ========================================

@mixin gw-mixin-grid($breakpoint) {
  .gw-col#{functions-grid.gw-function--grid-class-generic($breakpoint)} {
    flex: 1;
  }

  .gw-#{functions-grid.gw-function--grid-placement($breakpoint, 'first')} {
    order: -1;
  }

  .gw-#{functions-grid.gw-function--grid-placement($breakpoint,'last')} {
    order: 1;
  }

  .gw-#{functions-grid.gw-function--grid-placement($breakpoint,'display-none')} {
    display: none;
  }

  @for $size from 1 through grid-grid.$gw-columns {
    .gw-col#{functions-grid.gw-function--grid-class($breakpoint, $size)} {
      width: calc($size / 12 * 100%);
      padding-left: grid-grid.$gw-container-padding;
      padding-right: grid-grid.$gw-container-padding;
      display: block;
    }

    .gw-col#{functions-grid.gw-function--grid-push-pull($breakpoint, $size, 'push')} {
      margin-left: calc($size / 12 * 100%);
    }

    .gw-col#{functions-grid.gw-function--grid-push-pull($breakpoint, $size, 'pull')} {
      margin-right: calc($size / 12 * 100%);
    }
  }
}
