@use '../../settings/typography/font-sizes';
@use 'media-query';

// LLYW.CYMRU | GOV.WALES
// Mixins: Input
// ========================================

@mixin gw-mixin-fixed-width-input($val) {
  .gw-input--fixed-#{$val} {
    $val: calc($val + 0.625);
    max-width: calc(#{font-sizes.$gw-font-size-input} + #{$val + 'rem'});
  }
}

@mixin gw-mixin-fluid-width-input($val) {
  .gw-input--fluid-#{$val} {
    @include media-query.gw-mixin-media-query(md) {
      max-width: #{$val + '%'};
    }
  }
}
