// LLYW.CYMRU | GOV.WALES
// Mixins: Input
// ========================================

@mixin gw-mixin-fixed-width-input($val) {
  .gw-input--fixed-#{$val} {
    $val: calc($val + .625);
    max-width: calc(#{$gw-font-size-input} + #{$val + 'rem'});
  }
}

@mixin gw-mixin-fluid-width-input($val) {
  .gw-input--fluid-#{$val} {
    @include gw-mixin-media-query(md) {
      max-width: #{$val + '%'};
    }
  }
}
