@use "../../settings/colours/colours";
@use "../../settings/transition/transition";
@use "../../settings/typography/base";
@use "focus";
@use "transitions";

// LLYW.CYMRU | GOV.WALES
// Mixins: Links
// ========================================

@mixin gw-mixin-link() {
  color: colours.$gw-colour-link-default;
  font-weight: base.$gw-font-weight-bold;
  text-decoration: none;
  cursor: pointer;
  @include transitions.gw-mixin-transitions(
    transition.$gw-transition-out-time,
    color,
    background-image
  );

  &:active,
  &:visited {
    color: colours.$gw-colour-link-default;
  }

  &:hover {
    color: colours.$gw-colour-link-hover;
    @include transitions.gw-mixin-transitions(
      transition.$gw-transition-in-time,
      color,
      background-image
    );
  }

  &:focus {
    @include focus.gw-mixin-focused-text;
  }
}
